<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
	<title>Class Sign Up Confirmation</title>
</head>

<body>
	<h1>Sign Up Information</h1>
	<div class=signUpDiv >
        <h2><%- msg %></h2>
		<strong>Name: </strong><%- name %><br>
        <strong>Student ID: </strong><%- studentID %><br>
		<strong>Class Code: </strong><%- classCode %><br>
        <strong>Section Number: </strong><%- sectionNumber %><br>
      
	</div>
    <br>
    <a class="url" href=<%- URL %>>back</a>
</body>

</html>
